# Machine-Specific
models/.venv
__pycache__/
*.pyc
.cursor/
.vscode
.cursorrules

# Dataset
models/data_raw/*.csv
models/data_raw/*.py

# Kaggle CLI output / model training artefacts
models/notebook_best_models/**/checkpoint
models/notebook_best_models/**/save_dir_fund
models/notebook_best_models/**/save_dir
models/notebook_model_runs/**/checkpoint/
models/notebook_model_runs/**/save_dir/
models/notebook_model_runs/**/save_dir_fund/

# Change to the name of your notebook if edited
models/notebook/patchtst-new-branch-test-sector.log 
models/notebook/results_version_*/

# Help visualize tasks
models/Tasks 
