.venv/
__pycache__/
*.pyc
.cursor/
.vscode/
models/data_raw
.cursorrules

# Kaggle CLI output / local clone artefacts
models/notebook/checkpoint/
models/notebook/save_dir/
models/notebook/__results___files
models/notebook/ticker_industry.json

# Change to the name of your notebook if edited
models/notebook/patchtst-new-branch-test-sector.log 
models/notebook/results_version_*/
